.weatherForecastNowContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1vw 0 1vw;
    font-size: 18px;
}

.weatherForecastNowTable {
    margin-left: 20px;
}

.cityNameContainer {
    font-size: 54px;
    font-weight: bold;
}

@media only screen and (max-width: 767px) {
    .weatherForecastNowContainer {
        font-size: 14px;
    }

    .weatherForecastNowTable {
        margin-left: 10px;
    }
}

@media only screen and (max-width: 414px) and (max-height: 736px) {
    .cityNameContainer {
        font-size: 36px;
        font-weight: bold;
    }

    .weatherForecastNowContainer {
        font-size: 12px;
    }
  }