html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: #4F5A75;
}

#root {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}