.fiveDayWeatherForecastContainer {
    display: none;
}

.fiveDayWeatherForecastButton {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 95%;
    margin: 1% 0;
}

.fiveDayWeatherForecastLabel {
    margin-right: 5px;
}

.currentWeatherForecastButton {
    display: flex;
    align-items: center;
    width: 90%;
    margin: 3% 3%;
}

.currentWeatherForecastLabel {
    margin-left: 5px;
}

.fiveDayWeatherForecastTableContainer {
    display: flex;
    justify-content: center;
    height: 90%;
}

.fiveDayWeatherForecastTable {
    width: 95%;
    margin: auto;
    border-collapse: separate; 
    border-spacing:0 10px;
    font-size: 14px;
}

.fiveDayWeatherForecastTableRow {
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    background-color:rgba(255, 255, 255, 0.3);
    text-align: center;
}

.fiveDayWeatherForecastTableRow span {
    display: block;
    margin: 1%;
}

.boldTd {
    font-size: 16px;
    font-weight: 900;
}

.slowDisplayNone {
    opacity: 0;
    transition: opacity 1s linear;
}